body {
	background-color: darkgrey;
}

table {
	border-collapse: collapse;
	margin-bottom: 3em;
	width: 100%;
	background: #fff;
}

td, th {
	padding: 0.75em 1.5em;
	text-align: left;
}

th {
	background-color: #31bc86;
	font-weight: bold;
	color: #fff;
	white-space: nowrap;
}

tbody th {
	background-color: #2ea879;
}

tbody tr:nth-child(2n-1) {
	background-color: rgba(129,208,177,.3);
}

tbody tr:hover {
	background-color: rgb(129,208,177,.3);
}